numpy~=1.24.3
pandas~=2.2.2
scipy~=1.13.0
scikit-learn~=1.5.0
texttable~=1.7.0
tensorflow~=2.13.1
torch~=2.3.0
tslearn~=0.6.3
tqdm~=4.66.4
joblib~=1.4.2
matplotlib~=3.9.0
seaborn~=0.13.2
pyts~=0.13.0
psutil~=5.9.8